* {margin:0px; padding:0px;}



body {
    color: #444;
    line-height: 180%;
    background: #ffffff;
    margin: 0;
    font: normal 15px/1.75 'Trebuchet MS', sans-serif;
    border-left: 15px solid #333;
    border-right: 15px solid #333;
    font-size: 18px;
}

h1,h2,h3,h4 {
    margin: 20px 0;
    font-weight: normal;
}

h3 {
    font-size: 22px; 
    color: #000;
    margin: 40px 0 20px 0;
    background: #DAE2F7;
    text-align: center;    
}

h4 {font-size: 20px; color: #333;}

ul, ol{padding-left: 25px;margin: 20px;}


.chaos {
    margin: 0;
    padding: 0;
}

.chaos li {
    margin-top: 3px;
    list-style-type: none;

}

.chaos .time {
    color: #999;
    float: right;

}

.chaos .title {
    color: #444;
    text-decoration:none;
}

.info {
    padding: 15px;
    color: white;
    background: #333;
    text-align:center;
    margin: 0px auto;
    font-size: 15px;
}


.info a{
    font-weight: bold;
    color: skyBlue;
    text-decoration:none;
}

.info a:hover {
    background: none;
    color: skyBlue;
    text-decoration:none;
}


.container {
    width: 1000px;
    margin: 0 auto;
}


.content { 
    width: 100%;
    padding: 30px 0;
}


a {color: #F30; text-decoration: underline; }
a:hover { background: #E9F5E7; text-decoration: underline; color: #333;}


p {
    margin: 15px 0;
}

hr {
    border: 0;
    border-top: 1px dotted #BBB;
    height: 40px;
    margin-top: 40px;
}


pre {
    font-family: Menlo,Monaco,monospace;
    font-size: 15px;
    border: 0px;
    padding: 7px;
    color: #333;
    background: #FCFCFC;
    word-wrap: break-word;
    border: 2px solid #C6C9CB;
    border-left: none;
    border-right: none;
    line-height: 1.5;
}

p img {
    max-width: 800px;
    display: block;
    margin: 40px auto;
}


blockquote {
    padding: 0px 20px;
    color: #701226;
}

.pagetitle h1 {
    color: #111;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    padding-bottom: 5px;
    border-bottom: 1px solid #BBB;
    margin: 0;
}



.entry-title h2 {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid #BBB;
}

.entry-title h2 a {
    color: #222;
    text-decoration: none;
}

.postview {
}


.timestamp {
    color: #777;
    float: right;
    position: relative;    
    font-size: 16px;
}

.author {
    color: #AAA;
    font-size: 16px;
}

.blogtitle a {
    font-size: 30px;
    font-weight: bold;
    color:black;
}

.blogtitle a:hover {
    text-decoration: none;
}

code {
    margin:0px;
    padding:0px;

}

p code {
    font-size: 15px;
    padding: 2px;
    border-radius: 3px;
    background: #fcfcfc;
    color: #09738D;
}

.sidenote {
    display: block;
    font-size: 15px;
    margin-right: -250px;
    width: 250px;
    left: 40px;
    float: right;
    padding: 5px;
    position: relative;
    color: #999;
}

.pagination {
    text-align: center;
    border-top: 1px dotted #BBB;
    padding: 5px;
    font-size: 16px;
}

.previous, .next {

}
.sep {
    text-align: center;
    margin: 40px;
}

.logo {
    text-align: center;

}

.logo img {
    width: 448px;
}

.logo a:hover {
    background: none;
}


.cap {
    text-align: center;
    font-weight: bold;
}

.meta {
    text-align: right;
    font-size: 16px;
}

#disqus_thread {
    width: 90%;
    margin: 0 auto;
}

sup {
    margin: 2px;
    color: #666;
    font-size: 14px;
    font-family: serif;
}