* {margin: 0; padding: 0;}

body {
    color: #333;
    margin: 8px;
    font: normal 14px/1.75 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1 {
    font-size: 44px;
    font-weight: normal;
    line-height: 30px;
    margin: 10px 0;
}

.question { font-size: 17px; color: #333; }

a { color: #CA5656; text-decoration: none;}

a:hover { color: #CA5656; text-decoration: underline; }

p { margin: 15px 0; line-height: 1.8; }

ul.chaos li { list-style-type:none; line-height: 1.4;}

.container {
    width: 50%;
    margin: 0 auto;
}

#comic img {
    max-width: 740px;
    display: block;
    margin: 0px auto;
}

#comic-title h1 {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

#news {
    color: #111;
    font-size: 18px;
}

#footer {
    margin: 25px 50px 0;
    padding-top: 25px;
    border-top: 1px dotted gray;
}


#transcript { display: none; }

.small-font {
    font-size: 12px;
}

ul.navs {
    margin: .75em 0;
    padding: 0;
    list-style-type: none;
    display: block;
}

ul.navs li{
    text-align: center;
    display: inline;
}

ul.navs li a {
    color: #FFF;
    border: 2px solid #333;
    font-size: 16px;
    font-variant: small-caps;
    font-family: Lucida, sans-serif;
    font-weight: 600;
    padding: .25em .75em;
    margin: 0 4px;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 gray;
    -moz-box-shadow: 0 0 5px 0 gray;
    -webkit-box-shadow: 0 0 5px 0 gray;
}

ul.navs li a {
    background-color: #6E6E6E;
    border-color: #333;
}

ul.navs a:hover, ul.navs a:focus {
    background-color: #FFF;
    color: #333;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#share {
    height: 20px;
    margin: 0 auto;
    width: 144px;
}

