* {margin:0px; padding:0px;}


body {
    color: #333;
    line-height: 180%;
    background: black;
    font-variant: small-caps;
    margin: 0;
    font: normal 15px/1.75 'Trebuchet MS', sans-serif;
    font-size: 14px;
}


.main {
    margin: 0px auto;
    width: 750px;
    text-align: center;
}

h1,h2,h3,h4 {
    margin: 20px 0;
    font-weight: normal;
}

h3 {
    font-size: 20px; 
    color: #222;
}

h4 {font-size: 17px; color: #333;}

ul, ol{padding-left: 25px;margin: 20px;}


.chaos {
    margin: 0;
    padding: 0;
    text-align: center;
}

.chaos li {
    list-style-type: none;

}


.full-container {
    width: 100%;
}


.half-container {
    width: 50%;
    margin: 0 auto;
}

.crow {
    padding: 2px;
}
.box {
    padding: 15px 0px;
    text-align: center;
    background: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #071419;
}

.navbar {
    height: 30px;
}
.content { 
    padding: 0px 20px;
}


a {color: #CA5656; text-decoration: underline; }
a:hover { color: #CA5656; text-decoration: underline; }


p {
    margin: 15px 0;
}

hr {
    border: 0;
    height: 1px;
    background: #DDD;
    background: -webkit-linear-gradient(left, rgba(221, 221, 221, 0) 0%, #DDD 10%, #DDD 90%, rgba(221, 221, 221, 0) 99%);
    background: -moz-linear-gradient(left, rgba(221, 221, 221, 0) 0%, #DDD 10%, #DDD 90%, rgba(221, 221, 221, 0) 99%);
    background: -ms-linear-gradient(left, rgba(221, 221, 221, 0) 0%, #DDD 10%, #DDD 90%, rgba(221, 221, 221, 0) 99%);
    background: -o-linear-gradient(left, rgba(221, 221, 221, 0) 0%, #DDD 10%, #DDD 90%, rgba(221, 221, 221, 0) 99%);
    background: linear-gradient(left, rgba(221, 221, 221, 0) 0%, #DDD 10%, #DDD 90%, rgba(221, 221, 221, 0) 99%);
    margin: 2em 0;
}


pre {
    font-family: Menlo,Monaco,monospace;
    font-size: 15px;
    border: 0px;
    padding: 7px;
    color: #333;
    background: #EEE;
    word-wrap: break-word;
    border: 2px solid #C6C9CB;
    border-left: none;
    border-right: none;
    line-height: 1.5;
}

p img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
}


blockquote {
    padding: 10px 20px;
    color: #701226;
}

.pagetitle h1 {
    color: #111;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    padding: 10px 40px;
    text-align: center;
}



.entry-title h2 {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
    padding: 0 40px;
}

.entry-title h2 a {
    color: #111;
    text-decoration: none;
}

.entry-title h2 a:hover {
    color: #9d0b0e;
    background: none;
}



.postview {
}


.timestamp {
color: white;
float: left;
position: relative;
font-size: 16px;
background: #B6B6AD;
margin-right: 10px;
width: 70px;
line-height: 1;
text-align: center;
padding: 6px;
display: none;
}

.tags {
    text-align:center;
    color: #AAA;
    font-size: 15px;
    margin: 15px 0;
}

.tags a {
    padding: 0px 2px;
    margin: 2px;
    background: #EEE;
    color: #C23838;
    border-radius: 3px;
    text-decoration: none;
}
.tags a:hover {

}

.blogtitle a {
    font-size: 30px;
    font-weight: bold;
    color:black;
}

.blogtitle a:hover {
    text-decoration: none;
}



.logo {

    width: 290px;
    float:left;
    background: white;
    padding-left: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-left: 10px;

}

.logo img {
    width: 300px;
    margin-top: -30px;
}

.logo img:hover {

}


.cap {
    text-align: center;
    font-weight: bold;
}

.meta {
    text-align: center;
    font-size: 16px;
}

.meta a {
    color: #565656;
    text-decoration: none;
}

.meta a:hover {
    color: #222;
    background:none;
    border-bottom: dotted 1px #222;
}

.note {
    margin: 2px;
    color: #666;
    font-size: 14px;
    font-family: serif;
    vertical-align: super;
}


ul.comicNav {
	padding:0;
	list-style-type:none;
}
ul.comicNav li {
	display: inline;
}

ul.comicNav  li a {
	
	background-color:#86504E;
	color: #FFF;
	border: 1.5px solid #333;
	font-size: 16px;
	font-weight: 600;
	padding: 1.5px 12px;
	margin: 0 4px;
	text-decoration: none;

}


ul.comicNav a:hover {
	background-color: #FFF;
	color: #86504E;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

