<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.desc }}">
    <meta name="author" content="{{ site.author.name }}">
    <link href="/assets/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/code.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://feeds.feedburner.com/Dreamsome" rel="alternate" type="application/atom+xml" />  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <script>
   var posts = [];
   {% for post in site.posts %}
      posts.push("{{ post.url }}");
   {% endfor %}  

   function random_post() {
    window.location = posts[Math.floor(Math.random() * posts.length)]; 
   }
    </script>
  </head>



  <body>    
    <div class="main">
    <a href="/"><img src="/images/large.png"></a>

      <div class="full-container box">
	      <div class="content">
          {{ content }}
	      </div>   
      </div>
  
    </div>



    <div class="main">

      <div class="full-container box">
        <div class="content">
        <img src="/images/1022.png" width="440">
        <p>光总觉得它跑的比任何事物都快，可它错了，因为无论它跑的多快,黑暗总是先它一步到达并且等待着它的光临。——泰瑞·普莱契</p>
        <p><a href="/archive">存档</a> - <a href="/about">关于</a> - <a href="http://feeds.feedburner.com/Dreamsome">订阅</a> - <a href="/atom.xml">Atom</a></p>

        <p>你可以下载到从1047开始所有漫画的<a href="/src/dreamsome.zip">源文件</a></p>
        
        <p>比特币: 1NgJDZWDgqAmSscFxVumsdFfA5n6SPGQZo</p>

        <p><a href="http://creativecommons.org/licenses/by-nc/2.5/">版权说明</a> 2015</p>
        </div>
      </div>

    </div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41895626-1', 'dreamsome.org');
  ga('send', 'pageview');

</script>

  </body>
</html>
