<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
{% if page.title %}<title>Dreamsome: {{ page.title }}</title>{% else %}
<title>Dreamsome: {{ site.posts.first.title }}</title>{% endif %}
<link href="/assets/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/atom.xml"/>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<script>
var posts = [];
{% for post in site.posts %}posts.push("{{ post.url }}"); {% endfor %}  
function roll_dice(){window.location = posts[Math.floor(Math.random() * posts.length)];}
</script>
</head>
<body>
<div class="center-align">
{{ content }}
</div>
<div id="footer">
<div id="news">每周一、三、五更新</div>
<a href="/archive/">存档</a> - 
<a href="/about/">关于</a> -
<a href="http://blog.chengyichao.info/">博客</a> -
<a href="/atom.xml">订阅</a> 
</div>
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-41895626-1', 'dreamsome.org');ga('send', 'pageview');</script>
</body>
</html>
