<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.desc }}">
    <meta name="author" content="{{ site.author.name }}">
    <link href="/assets/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/assets/code.css" rel="stylesheet" type="text/css" media="all" />
    <link href="http://feeds.feedburner.com/Dreamsome" rel="alternate" type="application/atom+xml" />  
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <script>
   var posts = [];
   {% for post in site.posts %}
      posts.push("{{ post.url }}");
   {% endfor %}  

   function random_post() {
    window.location = posts[Math.floor(Math.random() * posts.length)]; 
   }
    </script>
  </head>



  <body>    

    <div class="main">

      <div class="container">

	<div class="content">
          {{ content }}
	</div>   

	<ul class="comicNav">
	  <li><a href="{{ site.posts.last.url }}">|&lt;</a></li>
	  <li><a rel="prev" href="{{ page.previous.url }}" accesskey="p">&lt; Prev</a></li>
	  <li><a id="random" href="javascript:random_post()">Random</a></li>
	  <li><a rel="next" href="{{ page.next.url }}" accesskey="n">Next &gt;</a></li>
	  <li><a href="{{ site.posts.first.url }}">&gt;|</a></li>
	</ul>



	<ul class="chaos">
	  {% for post in site.posts %}
	  <li>
	    <a class="title" href="{{post.url}}">{{ post.title }}</a>
	  </li>
	  {% endfor %}
	</ul>
	<br>
      </div>
      
      <div class="container">


      </div>


      

    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41895626-1', 'dreamsome.org');
  ga('send', 'pageview');

</script>

  </body>
</html>
