---
layout: default
---


<div class="pagetitle">
  <h1>{{ page.title }}</h1>
</div>

<div class="navbar">
{% if page.previous %}
    <div style="float:left";>« <a rel="prev" href="{{ page.previous.url }}" accesskey="p">{{ page.previous.title }}</a></div>
{% endif %}

{% if page.next %}
    <div style="float:right;"><a rel="next" href="{{ page.next.url }}" accesskey="n">{{ page.next.title }}</a> »</div>
{% endif %}
</div>
<div style="clear:both;">

<p><image src="/p{{page.url}}.png" title="{{page.comment}}"></p>

<p>链接: {{site.production_url}}{{ page.url }}</p>